

.page-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/fondo\ 2.jpg'); 
  background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
  background-position: center; 
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}

/* Hace el fondo transparente para que la imagen sea visible */
ion-content {
  --background: transparent; 
}

.img-logo{
  border-radius: 1rem;
}

/* Asegura que el texto y el formulario estén encima de la imagen borrosa */
.overlay-text, form {
    color: #000000;
    position: relative;
    z-index: 2;
}

ion-item {
  --background: #f1f1f1; 
  border-radius: 10px;
  margin-bottom: 16px;
}

ion-header {
  --background: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
}

.titulo {
  color: #fff; /* Asegura que el texto del título sea blanco */
}

ion-toolbar {
  --background: #000; /* Fondo negro para el toolbar */
  color: #fff; /* Texto blanco */
}

#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.div-espacio{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.titulo{
  text-align: center;
  padding-right: 1rem;
}

ion-card-title{
  text-align: center;
}

.card-home{
  z-index: 2;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;

  ion-card-header{
    margin-top: -1rem;
  }
}
